/* Navbar */
body{
    background-color: #121212;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* position: fixed; */
}

/* .clearfix::after {
    content: "";
    display: table; */
    /* clear: both;
} */

.active{
    height: auto;
    border-radius: 5px ;
    text-align: center;
    padding: auto;
}

.search {
    display: inline-block;
    margin: 10px;
    /* background-color: red; */
}

.search{
    padding: 5px 0;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.search:focus {
    width: 40%;
}

.feather {
    color: cyan;
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}

.search a:hover {
    background-color: grey;
}


.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navabr a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar-right {
    margin-left: 20px;
    padding: 10px;
    /* background-color: red; */
  /* float: right; */
}

.header-right {
    background-color: #333;
    transition: background-color ease-in-out .2s;
}

.header-right:hover{
    background-color: #404040;
    transition: background-color ease-in-out .2s;
}

/* Trending */
.container-trending{
    max-width:100%;
    height:auto;
    padding: 0 14%;
    /* float: both; */
}

.isicontainer{
    padding: 2%;
}


#tulisan-trending{
    font-size: larger;
    margin-left: 25px;
    margin-bottom: 15px;
    
}

.foto_trending{
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-tulisanisi{
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.box-trending{
    padding:1%;
    width: auto;
    height: auto;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    

}

.content-trending{
    padding: 4%;
    background-color:white;
    color: black;
    border-radius: 20px;
    text-align: justify;
}


/* MAIN CONTENT BY HANS */

.container_content{
    /* width: 1240px;
    padding: 20px 24px;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; */

     /* width: 1240px; */
    /* padding: 20px 24px; */
    display:flexbox;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    /* ngtest aja */
    max-width:100%;
    height:auto;
    padding: 0 15%;
    background-color: greenyellow;
    
}

.b_header{
    margin: 10px 5px 10px 0;
    background-color: #2b2b2c;
    color: white;
    border: none;
    border-radius: 20px;
    padding:10px;
    cursor: pointer;
    transition: background-color ease-in-out .2s ;
}

.b_header:hover{
    transition: background-color ease-in-out .2s ;
    background-color: gray;
}



#popular_box{
    margin: 10px 5px 10px 0;
    border: 1pt white solid;
    background-color: #2b2b2c;
    padding:10px;
    border-radius: 3px;
}

#header_content{
    margin: 10px 5px 10px 0;
    background-color:  #2b2b2c;
    
}

.main-content{
    padding-bottom:20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--newCommunityTheme-navIcon);
    text-transform: unset;
    /* background-color: red; */
}

/* by Jefri */
.contents{
    height: auto;
    width: auto;
    /* border: 1% solid white ; */
}

/* .contents:hover{
    border: 3px solid white ;
    background-color: white; 
} */

.wrapper-profil{
    display: flex;
    justify-content:start;
    padding-bottom:10px ;
    border-bottom: 2px solid white;
    
}

.wp-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
 
}



.profil{
    padding-left: 20px;
    font-size: 15px;
}

.profil a {
    color: white;
    text-decoration: none;
}

/* akhir Jefri */

.contents{
    width:640px;
    /* width: 680px; */
    /* background-color: #2b2b2c; */
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 3px;
    background-color: #333;
    
    

}

.p1{
    padding-top: 5% ;
    text-align: start;
}

.img-box{
    position: relative;
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom:20px;
}

.content-img{
    width:80%;
    height:80%;

    justify-content: center;

}




/* by Jefri */
.wrapper-content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: static;
    
}
    
.wrapper-trend{
    padding-left:8%;
    width: auto;
    
    
    
    
    
}

.trend-contents{
    background-color: #333;
     

}



.wrapper-judul{
    width: auto;
    height: auto;
    background-color: #04AA6D;
    padding: 7%;
    text-align: center;
}

#judul{
    
}

.card-content a{
    width: auto;
    text-transform:capitalize ;
    padding: 20px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    /* flex-direction: row ; */
    /* justify-content: flex; */
    color: white;
    text-decoration: none;


}

#rk{
    font-size: 20px;
    /* text-decoration: white; */
}


.isi-comunity{
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 4%;
}

.img-comunity{
    width: 15%;
    height: auto ;
}

/* bahasa & footer Jefri */
.container-bf{
    width: auto;
    height: auto;
    background-color: rgb(80, 69, 69);
    position: sticky;
    top: 0px;
}

.container-bahasa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-footer{
    background-color: white;
    position: sticky;
    /* top: 500px; */
}

#footer{
    color: black;
    text-align: start;
    font-size: 13px;
}

.wrapper-bahasa-satu{
    text-transform: capitalize;

}

.wrapper-bahasa-satu {
    padding: 5% 0;
}

.wrapper-bahasa-satu a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 3px;
}

.wrapper-bahasa-satu a:hover{
    color: red;
    
}
/* akhir Jefri */




