/* Navbar */
body{
    background-color: #121212;
    /* color: white; */
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.active{
    height: auto;
    border-radius: 5px ;
    text-align: center;
    padding: auto;
}

.search {
    display: inline-block;
    margin: 10px;
}

.search{
    padding: 5px 0;
    width: 40%;
    border-radius: 10px;
}


.feather {
    color: cyan;
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}

.search a:hover {
    background-color: grey;
}

.form-inline .form-control{
    width: 60em;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navabr a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #51ACC5 ;
  color: white;
}

.navbar-right {
    margin-left: 30px;
    padding: 10px;
    /* background-color: red; */
  /* float: right; */
}

.header-right {
    background-color: #333;
    transition: background-color ease-in-out .2s;
}

.header-right:hover{
    background-color: #404040;
    transition: background-color ease-in-out .2s;
}

.header-button{
    margin: 10px 5px 10px 0;
    background-color: #2b2b2c;
    padding:10px;
    border-radius: 3px;
}

#trend-caption p{
border:white solid 2px;
color:white;
display: inline-flex;
margin-left: 12em;
left:200px;
font-size: 14pt;
}
/* Trending */
.container-trending{
    max-width:100%;
    height:auto;
    margin: 0 16em 0 16em;
    margin-bottom: 3%;
    left: 50%;
    padding-top: 2em;
}




#tulisan-trending{
    font-size: 20pt;
margin-top: 50px;
position: absolute;
left: 30em;
top:2em;


color: white;
    font-weight: 500;
    
}

.foto_trending{
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container-tulisanisi{
    justify-content: center;
    display: flex;
    /* background-color: #04AA6D; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.box-trending{
    /* padding:1%; */
    border : #51ACC5 7px solid;
    background-color: #51ACC5;

    font-family: 'Montserrat', sans-serif;
    border-radius: 4%;
    /* display:inline-flex; */
    margin: 0 4% 1% 0;
    
    justify-content: center;
    align-items: center;

}

.top-text{
    position: relative;
    text-align: center;
    color: white;
    font-weight: 500;
}
.box-trending img{
    width: 15em;
    height: 12em;
    display: flex;
    
}


.content-trending{
    width: 100%;
    height: 100%;

}


/* MAIN CONTENT BY HANS */

.container_content{
    /* width: 1240px;
    padding: 20px 24px;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; */

     /* width: 1240px; */
    /* padding: 20px 24px; */
    display:flexbox;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    /* ngtest aja */
    max-width:100%;
    height:auto;
    padding: 0 15%;
    background-color: #121212;
    
}



.b_header{
    margin: 10px 5px 10px 0;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    border:none;
    margin-left: 1em;
    padding:15px;
    cursor: pointer;
    transition: background-color ease-in-out .2s ;
}

.header-post{
    margin: 10px 5px 10px 0;
    background-color: #2b2b2c;
    padding:15px;
    border-radius: 3px;
}

.header-input{
    background-color:#1a1a1a ;
    width: 200em;
    margin: .1em 1em .1em 1em;
    
}

.header-input:focus{
    background-color:#2b2b2c ;
}

.header-profile{
    display: flex;
    justify-content:start;
left: 500px;
}

.b_header:hover{
    transition: background-color ease-in-out .2s ;
    background-color: gray;

}




#header_content{
    margin: 10px 5px 10px 0;
    background-color:  #2b2b2c;
    
}

.main-content{
    padding-bottom:20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--newCommunityTheme-navIcon);
    text-transform: unset;
    /* background-color: red; */
}

/* by Jefri */
.contents{
    height: auto;
    width: auto;
    border: 1pt solid #404040;
}

.contents-profile{
height: auto;
width: auto;
border: 1pt solid #404040;
}

.contents:hover{
    border: 1pt solid white ;
    
}

.wrapper-profil{
    display: flex;
    justify-content:start;
    padding-bottom:10px ;
    border-bottom: 2px solid white;
    
}

.wp-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
 
}



.profil{
    padding-left: 20px;
    font-size: 15px;
}

.profil a {
    color: white;
    text-decoration: none;
}


.contents{
    width:640px;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 3px;
    background-color: #333;
}

.p1{
    padding-top: 5% ;
    color:white;
    text-align: start;
}


.img-box{
    position: relative;
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom:20px;
    border-bottom: 2px solid white; 
    padding-bottom: 40px;
}

.content-img{
    width:80%;
    height:80%;
    justify-content: center;
}


.img-icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-icon li {
    padding-left: 10px;
}

.img-icon li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 10px;
    text-align: center;
    align-items:center;
    display: flex;
}

.img-icon li a img{
    width: 20px;
    font-weight: 800;
    color: white;
    padding-right: 5px ;
}


/* by Jefri */
.wrapper-content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: static;
    
}
    
.wrapper-trend{
    padding-left:8%;
    margin-right: 6px;
    width: auto;
    
}


.trend-contents{
    background-color: #333;
     

}



.wrapper-judul{
    width: auto;
    height: auto;
    background-color: #51ACC5 ;
    padding: 7%;
    text-align: center;
}

/* #judul{
    
} */

.card-content a{
    width: auto;
    text-transform:capitalize ;
    padding: 20px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    /* flex-direction: row ; */
    /* justify-content: flex; */
    color: white;
    text-decoration: none;
    border: #121212 1pt solid;

}

.card-content a:hover{


border:white solid 1pt;
}

#rk{
    font-size: 20px;
    color:white;
    /* text-decoration: white; */
}


.isi-comunity{
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 4%;


}

.img-comunity{
    width: 15%;
    height: auto ;
}

/* bahasa & footer Jefri */
.container-bf{
    width: auto;
    height: auto;
    background-color: rgb(80, 69, 69);
    position: sticky;
    top: 0px;
}

.container-bahasa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-footer{
    background-color: white;
    position: sticky;
    /* top: 500px; */
}

#footer{
    color: #121212;
    text-align: start;
    font-size: 13px;
}

.wrapper-bahasa-satu{
    text-transform: capitalize;

}

.wrapper-bahasa-satu {
    padding: 5% 0;
}

.wrapper-bahasa-satu a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 3px;
}

.wrapper-bahasa-satu a:hover{
    color: red;
    
}
/* akhir Jefri */


/* sign-up.html */

.form-signup {
    color: black;
    margin: 100px auto;
    padding: 20px;
    width: 35%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 20px 15px 10px #51ACC5 ;
    background-color: white;
}

.form-signup .signup {
    color: #51ACC5 ;
    text-align: center;
    font-weight: bold;
}

.form-signup .form-group .form-check {
    margin-top: 10px;
}


/* PROFILE BY HANS */


.profile_img{
    float:right;
    width: 400px;
    height: 300px;
    margin-right: 250px;
    margin-top: 250px;
}


#profilebanner{
    background-color: #51ACC5;
    border:#51ACC5 7px solid ;
}

#profilecard{
    background-color: #51ACC5;
    border:#51ACC5 7px solid ;
}


/* PROFILE BY HANS */


/*login by kf*/
#tulisan-raddot{
    margin-top: 12%;
    max-width: fit-content;
    margin-left: 22%;
    color:lightblue;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
    text-shadow: none;
    transition: text-shadow ease-in-out .3s;
    position: absolute;
}

.profile-img{
left:64em;
}



#tulisan-raddot:hover{
    text-shadow: 5px 5px 5px #51ACC5;
    transition: text-shadow ease-in-out .3s;
}

.container-login{
    background-color: whitesmoke;
    max-width: 30%;
    height:auto;
    margin-top:12%;
    margin-left: 39%;
    padding: 20px;
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px 10px 10px #51ACC5;
} 


.login{
    color:#51ACC5;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 4px skyblue;
}

form-group{
    margin-top: 30px;
}

.forgot{
    margin-top:2.5%;
    font-size: smaller;
    position:flex;
    padding-bottom: 20px;
}

.logo a{
    font-size: 230%;
    color:lightblue;
    font-family: 'Fredoka One', cursive;

}

.logo a{
    font-size: 230%;
    color:lightblue;
    font-family: 'Fredoka One', cursive;
    transition: text-shadow ease-in-out .3s;

}

.logo a:hover{
    text-shadow: 5px 5px 5px #51ACC5;
    transition: text-shadow ease-in-out .3s;
}


/* #tulisan-raddot{
    margin-top: 12%;
    max-width: fit-content;
    margin-left: 22%;
    color:lightblue;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
    text-shadow: none;
    transition: text-shadow ease-in-out .3s;
    position: absolute;
} */