<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Profile</title>
</head>
<body>
        
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-dark">
        <div class="logo">
            <a style="text-decoration: none;" href="index">Raddot</a>
        </div> 
        
        <form class="form-inline">
            <input class="form-control m-2" type="text" placeholder="Search...." >
        </form>

        <div class="navbar-right">
            <div class="dropdown">
                <button class="dropbtn">Channels </button>
                <div class="dropdown-content">
                    <a href="#">c/Politic</a>
                    <a href="#">c/War</a>
                    <a href="#">c/UNICEF</a>
                    <a href="#">c/Anime</a>
                    <a href="#">c/Programming</a>
                </div>
                </div>
            <a class="header-right" href="login">Log In</a>
            <a class="header-right" href="register">Sign Up</a>
        </div>
    </nav>
<body>



<div class="container-content">
    <div class="profile-img">
        <div class="card" id="profilebanner">
            <img src="img/Sparkle-Stars-Profile-Banner-smile19-39654242-946-250.jpg" width="400px" height="200px" class="card-img-top" alt="profile">
            <div class="card-body">
                <p class="card-text">NegaNe</p>
            </div>
    </div>
</div>

    <div class="header-post">
        <form class="header-profile">
            <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="wp-img">
            <input type="text" class="header-input" placeholder="Create Post...">
        </form>
    </div>


    <div class="header-button">
        <button type="button" class="b_header">Newest</button>
        <button type="button" class="b_header">Most Liked</button>
        <button type="button" class="b_header">Repost</button>
        <button type="button" class="b_header">. . .</button>

    </div>

    <div class="wrapper-content">
        <div class="main-content">
            <!-- POSTAN 1 -->
            <div class="contents">
                
                <div class="wrapper-profil">
                    <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="wp-img">

                    <ul class="profil1">
                        <li><a href = "#"class="np">NegaNe</a></li>
                        <li><a class="tp">today 3:12</a></li>
                    </ul>
                </div>

                <p class = "p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>


                <div class="img-box">
                    <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="content-img">
                </div>

        
            </div>
            

            <!-- POSTAN 2 -->
            <div class="contents">
                
                <div class="wrapper-profil">
                    <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="wp-img">

                    <ul class="profil1">
                        <li><a href = "#"class="np">NegaNe</a></li>
                        <li><a class="tp">today 3:12</a></li>
                    </ul>
                </div>

                <p class = "p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>


                <div class="img-box">
                    <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="content-img">
                </div>
        
            </div>


            <!-- POSTAN 3 -->
            <div class="contents">
                
                <div class="wrapper-profil">
                    <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="wp-img">

                    <ul class="profil1">
                        <li><a href = "#"class="np">NegaNe</a></li>
                        <li><a class="tp">today 3:12</a></li>
                    </ul>
                </div>

                <p class = "p1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


                <div class="img-box">
                    <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="content-img">
                </div>

            </div>


            <!-- POSTAN 4 -->
            <div class="contents">
                
                <div class="wrapper-profil">
                    <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="wp-img">

                    <ul class="profil1">
                        <li><a href = "#"class="np">NegaNe</a></li>
                        <li><a class="tp">Yesterday 3:12</a></li>
                    </ul>
                </div>

                <p class = "p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>


                <div class="img-box">
                    <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="content-img">
                </div>
            </div>

        </div>

        <div class="wrapper-trend">
            <div class="trend-contents">
                <p id="tulisan-trending">NegaNe</p>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" width="300px" height="200px">
                    <img src="https://images.unsplash.com/photo-1544765293-9bc7486a8dfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="...">
                </div>
            </div>

            <div class="rk-container">
                <div class="wrapper-judul"> 
                    <p id = "rk">Friends</p>
                </div>

                <div class="card-content">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="img-comunity">
                        <p class="isi-comunity">Kelvin</p>
                    </a>
                </div>
                
                <div class="card-content">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="img-comunity">
                        <p class="isi-comunity">Hansen</p>
                    </a>
                </div>

                <div class="card-content">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="img-comunity">
                        <p class="isi-comunity">Surya</p>
                    </a>
                </div>

                <div class="card-content">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="img-comunity">
                        <p class="isi-comunity">Jefri</p>
                    </a>
                </div>

                <div class="card-content">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="img-comunity">
                        <p class="isi-comunity">Ferdinand</p>
                    </a>
                </div>
                
            </div>
        </div>  
        


<script>
    feather.replace()
</script>


    
</body>
