/* PROFILE BY HANS */
.profil1 {
  padding-left: 50px;
  margin-top:-6%;
  font-size: 14px;
  font-weight: 600;
}

.profil1 a {
  color: white;
  text-decoration: none;
}

.wrapper-profil{
  border-bottom: 2px solid white;
}

.profile_img{
  float:right;
  width: 400px;
  height: 300px;
  margin-right: 250px;
  margin-top: 250px;
}

.card-text{
  color: white;
  font-weight: 450;
  font-size: 30px;
}

#profilebanner{
  width: auto;
  background-color: #51ACC5;
  border:#51ACC5 7px solid ;
}

#profilecard{
  background-color: #51ACC5;
  border:#51ACC5 7px solid ;
}
/* PROFILE BY HANS */