/* Untuk footer */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container-f2{
    height: auto;
    width: 100%;
    margin-top: 3.5%;
}

.wf-second{
    display: flex;
    justify-content: center;    
}

.wf-second li {
    display: flex;    
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    
}

.wf-second li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}

.wf-second li a:hover{
    transition: text-shadow ease-in-out .3s;
    color:#51ACC5;
}

.line{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid white; 
}

.wf-three{
    display: flex;
    justify-content: center;
    margin-right: 3% ;
}

.wf-three li {
    display: flex;    
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1.5%;
}

.wf-three li a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.wf-three li a:hover{
    transition: text-shadow ease-in-out .3s;
    color:#51ACC5;
}

.wf-four{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;

}