.all-wrapper {
  width: auto;
  height: 80vh;
  /* margin: auto; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.container-brand {
  margin-top: 5%;
  width: 450px;
}

#tulisan-raddot {
  max-width: fit-content;
  font-size: 70px;
  color: white;
  transition: text-shadow ease-in-out .3s;
  text-shadow: 0px 5px 2px crimson, 3px 5px 2px #51ACC5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* position: absolute; */
}

#slogan {
  color: white;
  font-size: 24px;
  display: block;
}




#backgroundimage {
  background: none url("img/Trees.png") no-repeat left;
  background-size: cover;
}

.profile-img {
  left: 64em;
}

.create {
  float: right;
}

#tulisan-raddot:hover {
  transition: text-shadow ease-in-out .3s;
  text-shadow: 0px 5px 2px #51ACC5, 3px 0px 2px crimson;
}

.container-login {
  background-color: whitesmoke;
  max-width: 30%;
  height: auto;
  margin-top:5%;
  padding: 20px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 6px 6px 9px rgb(121, 118, 118);
}


.login {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}

form-group {
  margin-top: 30px;
}

.forgot {
  /* margin-top:2.5%; */
  font-size: smaller;
  position: flex;
  padding-bottom: 20px;
}