.all-wrapper{
  width: auto;
  height: 80vh;
  display: flex;
  justify-content:space-evenly ;
  align-items: center;

}

.container-brand{
  width: 450px;
}

#tulisan-raddot{
  max-width: fit-content;
  color:white;
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  text-shadow: none;
  transition: color ease-in-out .3s;
}

#tulisan-raddot:hover{
  color: #51ACC5;
  transition: text-shadow ease-in-out .3s;
}

#slogan{
  color: white;
  font-size: 24px;
  display: block;
}

#backgroundimage{
  background: none url("img/Trees.png") no-repeat left;
  background-size: cover;
}

.create{
  float: right;   
}

#tulisan-raddot:hover{
  color: #51ACC5;
  transition: color ease-in-out .3s;
}

.container-login{
  background-color: whitesmoke;
  max-width: 30%;
  height:auto;
  padding: 20px;
  border-radius: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 6px 6px 9px rgb(121, 118, 118); 
} 


.login{
  color:#121212;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto', arial, sans-serif;
}

form-group{
  margin-top: 30px;
}

.forgot{
  font-size: smaller;
  position:flex;
  padding-bottom: 20px;
}
