.all-wrapper{
  width: auto;
  height: 80vh;
  /* margin: auto; */
  display: flex;
  justify-content:space-evenly ;
  align-items: center;

}

.container-brand{
  width: 450px;
}

#tulisan-raddot{
  /* margin-top: 12%; */
  max-width: fit-content;
  /* margin-left: 22%; */
  color:white;
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  text-shadow: none;
  transition: text-shadow ease-in-out .3s;
  /* position: absolute; */
}

#tulisan-raddot:hover{
  /* text-shadow: 5px 5px 5px #51ACC5; */
  color: #51ACC5;
  transition: text-shadow ease-in-out .3s;
}

#slogan{
  color: white;
  font-size: 24px;
  display: block;
}




#backgroundimage{
  background: none url("img/Trees.png") no-repeat left;
  background-size: cover;
}

/* .profile-img{
  left:64em;
} */

.create{
  float: right;   
}



.container-login{
  background-color: whitesmoke;
  max-width: 30%;
  height:auto;
  /* margin-top:12%; */
  /* margin-left: 39%; */
  padding: 20px;
  border-radius: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* box-shadow: 4px 4px 7px #51ACC5; */
  box-shadow: 6px 6px 9px rgb(121, 118, 118); 
  /* box-shadow: 5px 5px blue, -10px -10px red, 15px 15px green; */
} 


.login{
  color:#51ACC5;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto', arial, sans-serif;
  /* font-family: 'Fredoka One', cursive; */
  text-shadow:  -2px -2px  black;
  
}

form-group{
  margin-top: 30px;
}

.forgot{
  /* margin-top:2.5%; */
  font-size: smaller;
  position:flex;
  padding-bottom: 20px;
}
